extends template
block append variable
    - var title = 'CSS'
block content
    div.text
        p CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.
        div.text_image
            p Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
            img(src="img/css1.jpg")
    div.video
        video(src="img/time_chronometer_15_30_45_60.mp4" controls)
