extends template
block append variable
    - var title = "Синтаксис CSS"

block content
    div.syntax_images
        img.small(src= "img/css2.jpg")
        img.big(src= "img/syntax.jpg")
        img.small(src= "img/html.jpg")
    div.texts_info
        div.bigtext
            p В качестве селектора можно указать название класса элемента (он указывается после точки). Именно, в любом теге, где можно указать атрибут style, можно указать класс с помощью атрибута class. Название класса зависит от регистра символов. Можно указать несколько классов через пробел (как значение атрибута class). Несколько названий классов в селекторе можно указать, каждый раз отделяя их точкой.
        div.smalltext
            p В качестве селектора можно указать значение атрибута id после знака диеза
            p Селектор может указывать на вложенный тег. В этом случае указываются через пробел элементы. Описание будет относиться к вложенному тегу.
            p Сначала указывается родительский элемент, далее знак > (без пробела), за ним идёт один или несколько пробелов, далее имя дочернего элемента.